{%extends "base.html"%}

{%block title%}Home{% endblock %}

{% assets "dc_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}

{%block body%}
    <div class="row">
        <h1>Sugarloaf Current Snow Conditions</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="chart-summary"></div>
        </div>
    <div>

    <div class="row">
        <div class="col-md-4">
            <h3>Open <small><a id="open">reset</a></small></h3>
            <div id="chart-row-open"></div>
        </div>
        <div class="col-md-4">
            <h3>Groomed <small><a id="groomed">reset</a></small></h3>
            <div id="chart-row-groomed"></div>
        </div>
        <div class="col-md-4">
            <h3>Snowmaking <small><a id="snowmaking">reset</a></small></h3>
            <div id="chart-row-snowmaking"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            Map goes here
        </div>
        <div class="col-md-4">
            <div>
                <h3>Difficulty <small><a id="difficulty">reset</a></small></h3>
                <div id="chart-row-difficulty"></div>
            </div>
            <div>
                <h3>Area <small><a id="area">reset</a></small></h3>
                <div id="chart-row-area"></div>
            </div>
        </div>
    </div>
{%endblock%}

{% assets "dc_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "index_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}