.container {
    margin-top: 60px;
}

#chart-row-open .row text, #chart-row-groomed .row text, #chart-row-area .row text, #chart-row-snowmaking .row text {
    fill: black;
}

#chart-row-difficulty .row text {
    /* fill: #f8981d;
    text-anchor: end;*/
    fill: white;
    stroke: grey;
    stroke-width: .2;
    stroke-opacity: .5;
}

.axis path {
    stroke: #FFF;
    fill: none;
}